---
layout: handbook-page-toc
title: "Ops Sub-department Performance Indicators"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Performance Indicators

These charts show metrics filtered for the [Ops sub-department](/handbook/engineering/development/ops).

<%= partial "handbook/engineering/development/performance-indicators/partials/team_dashboard.erb", locals: { filter_type: "sub_department", filter_value: "ops" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Verify" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Package" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Release" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Configure" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Monitor" } %>

### Product Performance Indicators
[The Ops Stage Product Performance Indicators](/handbook/product/ops-section-performance-indicators/) are currently listed separately but we are working to better include them directly in this page.
